{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'djangoblog/style.css' %}">
    <title>Articles</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'djangoblog:index' %}"><img src="{% static '/djangoblog/logo.jpg' %}"/></a></h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    <li>
                        <form class="create-link" action="{% url 'djangoblog:create' %}" method="post">
                            {% csrf_token %}
                            <button class="btn-create" type="submit">Create Article</button>
                        </form>
                    </li>
                {% else %}
                    <li>
                        <form class="login-link" action="{% url 'accounts:login' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Log In</button>
                        </form>
                    </li>
                    <li>
                        <form class="signup-link" action="{% url 'accounts:signup' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Sign Up</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>